<ion-view view-title="Add Platform">
  <ion-content class="has-header" padding="true">

    <label class="item">
        <div class="row center"><h2 class="dark">Name</h2></div>
        <div class="row"><input ng-model="newPlatform.name" type="text" placeholder="Platform name"></div>
    </label>

    <label class="item range range-positive center">
      <div class="col">
        <div class="row center">Minimum length: {{newCategory.minimumLength}}</div>
        <div class="row">
          <i class="icon ion-unlocked"></i>
          <input type="range" ng-model="newPlatform.minimumLength" name="volume" min="6" max="20"
                 value="{{newCategory.minimumLength}}">
          <i class="icon ion-locked"></i>
        </div>
      </div>
    </label>

    <label class="item">
        <div class="row center"><h2 class="text-center dark">Accepted characters</h2></div>
        <ion-checkbox ng-model="newPlatform.acceptedCharacters.lowercase">Lowercase (abc)</ion-checkbox>
        <ion-checkbox ng-model="newPlatform.acceptedCharacters.uppercase">Uppercase (ABC)</ion-checkbox>
        <ion-checkbox ng-model="newPlatform.acceptedCharacters.digit">Digit (123)</ion-checkbox>
        <ion-checkbox ng-model="newPlatform.acceptedCharacters.symbol">Symbol (-?!)</ion-checkbox>
    </label>

    <label class="item">
        <div class="row center"><h2 class="text-center dark">Color</h2></div>
        <div class="row center">
          <select class="item item-select" ng-model="newPlatform.color">
            <option ng-repeat="item in COLORS" class="item {{item.color}}" value="{{item.color}}" selected>
              {{item.color}}
            </option>
          </select>
        </div>
    </label>

    <div class="item center">
      <button class="button button-positive " ng-click="savePlatform()">
        Save Platform
      </button>
    </div>
  </ion-content>
</ion-view>
