<ion-view view-title="Generate Password">
  <ion-content class="has-header" padding="true">

    <div class="item item-divider item-positive">
      Platform selection
    </div>
    <label class="item item-input item-select">
      <div class="input-label">Platform</div>
      <select ng-model="selectedPlatform" ng-change="newPlatformSelected()">
        <option ng-repeat="platform in allPlatforms" class="item-options {{platform.color}}" selected>
          {{platform.name}}
        </option>
      </select>
    </label>

    <div class="item item-divider item-positive">
      Password settings
    </div>

    <label class="item item-stacked-label">
      <div class="input-label">Name</div>
      <input type="text" placeholder="Password name">
    </label>

    <label class="item item-stacked-label">
      <div class="input-label">Accepted characters</div>
      <ion-checkbox ng-show="selectedPlatform.acceptedCharacters.lowercase"
                    ng-model="passwordConfig.acceptedCharacters.lowercase">Lowercase (abc)
      </ion-checkbox>
      <ion-checkbox ng-show="selectedPlatform.acceptedCharacters.uppercase"
                    ng-model="passwordConfig.acceptedCharacters.uppercase">Uppercase (ABC)
      </ion-checkbox>
      <ion-checkbox ng-show="selectedPlatform.acceptedCharacters.digit"
                    ng-model="passwordConfig.acceptedCharacters.digit">Digit (123)
      </ion-checkbox>
      <ion-checkbox ng-show="selectedPlatform.acceptedCharacters.symbol"
                    ng-model="passwordConfig.acceptedCharacters.symbol">Symbol (-?!)
      </ion-checkbox>
    </label>

    <label class="item item-stacked-label">
      <div class="range-label">Length: {{passwordConfig.length}}</div>
      <div class="positive range">
        <i class="icon ion-unlocked"></i>
        <input class="positive" type="range" ng-model="passwordConfig.length" name="volume" min="6" max="20"
               value={{passwordConfig.length}}>
        <i class="icon ion-locked"></i>
      </div>
    </label>

    <label class="item item-stacked-label">
      <div class="input-label ">Key</div>
      <input type="password" placeholder="********">
    </label>

    <div class="item item-divider item-positive">
      Password
    </div>

    <div class="button-bar">
      <button class="button button-full button-positive" ng-click="useCustomSeed(true)" ng-class="{'active': customSeed}">Custom</button>
      <button class="button button-full button-positive" ng-click="useCustomSeed(false)" ng-class="{'active': !customSeed}">Random</button>
    </div>

    <div ng-show="customSeed">
      <label class="item item-input item-stacked-label">
        <div class="input-label">Seed:</div>
        <input type="text" placeholder="Custom seed" ng-model="passwordConfig.seed">
      </label>
    </div>

    <div  ng-show="!customSeed">
      <label class="item item-input item-stacked-label">
        <div class="input-label">Seed:</div>
        <div class="center">
          {{passwordConfig.seed}}
        </div>
        <button class="button button-positive" ng-click="generateSeed()">Regenerate</button>
      </label>
    </div>

  </ion-content>
</ion-view>
