<ion-view view-title="Home">
    <ion-content class="has-header" scroll="false">


        <div class="col col-offset-33 col-33">
            <div class="row row">
                <div class="col">
                    <div class="row text-center">
                        <button class="button button-full button-positive" ui-sref="generatePassword">
                            Generate Password
                        </button>
                    </div>
                    <div class="row">
                        <button class="button button-full button-royal">
                            Passwords
                        </button>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <button class="button button-full button-balanced" ui-sref="addPlatform">
                            Add platform
                        </button>
                    </div>
                    <div class="row">
                        <button class="button button-full button-energized">
                            Settings
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
