<ion-view view-title="Home">
  <ion-content class="has-header" scroll="false">
    <button class="button button-full button-assertive" ui-sref="generatePassword">
      Generate Password
    </button>

    <button class="button button-full button-royal">
      Passwords
    </button>

    <button class="button button-full button-balanced" ui-sref="addPlatform">
      Add platform
    </button>

    <button class="button button-full button-energized">
      Settings
    </button>
  </ion-content>
</ion-view>
