<ion-view view-title="New Password">
  <ion-content class="has-header" padding="true">

    <div class="item item-divider item-positive">
      Category selection
    </div>
    <label class="item item-input item-select">
      <div class="input-label">Category</div>
      <select ng-model="selectedPlatform" ng-change="newPlatformSelected()">
        <option ng-repeat="category in allCategories" class="item-options {{category.color}}" selected>
          {{category.name}}
        </option>
      </select>
    </label>

    <div class="item item-divider item-positive">
      Password
    </div>

    <label class="item item-stacked-label">
      <div class="input-label">Name</div>
      <input type="text" placeholder="Password name">
    </label>

    <div class="button-bar">
      <button class="button button-full button-positive" ng-click="useCustomSeed(true)" ng-class="{'active': customSeed}">Custom</button>
      <button class="button button-full button-positive" ng-click="useCustomSeed(false)" ng-class="{'active': !customSeed}">Random</button>
    </div>

    <div ng-show="customSeed">
      <label class="item item-input item-stacked-label">
        <div class="input-label">Seed:</div>
        <input type="text" placeholder="Custom seed" ng-model="passwordConfig.seed">
      </label>
    </div>

    <div  ng-show="!customSeed">

      <label class="item item-stacked-label">
        <div class="input-label">Accepted characters</div>
        <ion-checkbox ng-model="passwordConfig.acceptedCharacters.lowercase">Lowercase (abc)</ion-checkbox>
        <ion-checkbox ng-model="passwordConfig.acceptedCharacters.uppercase">Uppercase (ABC)</ion-checkbox>
        <ion-checkbox ng-model="passwordConfig.acceptedCharacters.digit">Digit (123)</ion-checkbox>
        <ion-checkbox ng-model="passwordConfig.acceptedCharacters.symbol">Symbol (-?!)</ion-checkbox>
      </label>

      <label class="item item-stacked-label">
        <div class="range-label">Length: {{passwordConfig.length}}</div>
        <div class="positive range">
          <i class="icon ion-unlocked"></i>
          <input class="positive" type="range" ng-model="passwordConfig.length" name="volume" min="6" max="20"
                 value={{passwordConfig.length}}>
          <i class="icon ion-locked"></i>
        </div>
      </label>

      <label class="item item-input-inset">
        <div class="input-label">Seed</div>
        <input type="text" placeholder="Random seed" ng-model="passwordConfig.seed" class="item-input-wrapper" ng-disabled="true">
        <a class="button button-icon icon ion-refresh" ng-click="generatePassword()"></a>
      </label>

      <label class="item item-stacked-label">
        <div class="input-label ">Key</div>
        <input type="password" placeholder="********">
      </label>
      
    </div>

    Button Save Password

  </ion-content>
</ion-view>
